html{
    padding: 0%;
    margin: 0%;
}

body{
    background-color: #f8fffb;
    padding: 0%;
    margin: 0%;
}

#header{
    padding-top: 10px;
    background-color:#80c29f  ;  
}

#content{
    padding-top: 25px;
}

#rodape{
    background-color: #80c29f;
    position:absolute;
	bottom:0;
	width:100%;
}